@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Press+Start+2P&family=VT323&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body{
    background-image: url("E:/Ben_10 site/assets/stars.png");
}
nav{
    position: fixed;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, black,black,green);
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.h1{
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    padding-top: 130px;
    margin: 20px;
}
.video{
    margin: 30px;
}
.name{
    font-family: 'VT323', monospace;
    color: whitesmoke;
    font-size: 35px;
    margin: 50px 50px 25px 50px;
}
.typename{
    margin: 20px 70px;
}
input{
    width: 100%;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    background-color: transparent;
    height: 40px;
    color: yellow;
    font-size: 20px;
    padding-left: 5px;
    font-family: 'Carter One';
}
#btn{
    margin: 50px;
    width: 180px;
    height: 50px;
    padding: 10px;
    background-image: linear-gradient(to left, yellowgreen,green);
    font-family: 'Carter One', cursive;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}
#btn a{
    text-decoration: none;
    color: white;
}
#btn:hover, #btn a:hover{
    background-image: linear-gradient(to right, white,yellowgreen);
    color: black;
    letter-spacing: 1px;
}
.grid{
    padding-left: 20%;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    width: 1px;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 50px;
}
.card-group{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    row-gap: 200px;
    column-gap: 100px;
    align-items: center;
}
.card{
    text-align: center;
}
.card-title{
    font-family: 'Carter One', cursive;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    cursor: pointer;
}
.card-img-top{
    cursor: pointer;
    width: 200px;
    height: 200px;
}
.card-img-top:hover{
    box-shadow: 2px 2px 8px yellowgreen;
}
.result{
    font-family: 'VT323', monospace;
    color: rgb(129, 204, 72);
    text-align: center;
    font-size: 50px;
    margin: 70px;
}
